.sidebar {
  position: fixed;
  top: 0;
  left: 0;

  width: 280px;
  height: 100vh;

  background: #ffffff;

  display: flex;
  flex-direction: column;

  padding: 20px 16px;

  overflow-y: auto;

  box-sizing: border-box;

  flex-shrink: 0;

  z-index: 1000;

  border-right: 1px solid #e5e7eb;
}

/* Logo */

.sidebar__logo {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 40px;
}

.logo-box {
  width: 48px;
  height: 48px;
  border-radius: 14px;
  background: #0f8b8d;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 22px;
  font-weight: 700;
}

.logo-text h2 {
  font-size: 22px;
  margin: 0;
  color: #0f172a;
}

.logo-text span {
  color: #64748b;
  font-size: 12px;
}

.sidebar__menu {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.sidebar__bottom {
  margin-top: auto;
  padding-top: 20px;
  border-top: 1px solid #e5e7eb;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.menu-item {
  width: 100%;
  height: 52px;
  border-radius: 14px;
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 0 16px;
  border: none;
  background: transparent;
  cursor: pointer;
  transition: .2s;
  color: #475569;
}

.menu-item:hover {
  background: #eef8f8;
  color: #0f8b8d;
}

.menu-item.active {
  background: #0f8b8d;
  color: white;
}

.submenu {
  margin-left: 24px;
  padding-left: 12px;
  border-left: 2px solid #e2e8f0;
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: 6px;
  margin-bottom: 6px;
}

.submenu-item {
  height: 42px;
  display: flex;
  align-items: center;
  gap: 12px;
  border: none;
  background: transparent;
  cursor: pointer;
  color: #64748b;
  border-radius: 10px;
  padding-left: 10px;
}

.submenu-item:hover {
  background: #eef8f8;
  color: #0f8b8d;
}

.sidebar::-webkit-scrollbar {
  width: 6px;
}

.sidebar::-webkit-scrollbar-thumb {
  background: #d1d5db;
  border-radius: 10px;
}